<?xml version="1.0" encoding="UTF-8"?>
<Config Name="\" Description="根配置" Type="System.String">
	<Config Name="Levels" Description="级别" Type="System.String">
		<Config Name="14" Description="14" Type="Int32">
			<Value>1000</Value>
		</Config>
		<Config Name="15" Description="15" Type="Int32">
			<Value>500</Value>
		</Config>
		<Config Name="16" Description="16" Type="Int32">
			<Value>250</Value>
		</Config>
		<Config Name="17" Description="17" Type="Int32">
			<Value>125</Value>
		</Config>
		<Config Name="18" Description="18" Type="Int32">
			<Value>50</Value>
		</Config>
		<Config Name="19" Description="19" Type="Int32">
			<Value>25</Value>
		</Config>
		<Config Name="20" Description="20" Type="Int32">
			<Value>12</Value>
		</Config>
		<Config Name="21" Description="20" Type="Int32">
			<Value>5</Value>
		</Config>
		<Config Name="22" Description="20" Type="Int32">
			<Value>2</Value>
		</Config>
	</Config>
	<Config Name="FeatureClasses" Description="地物类" Type="System.String">
		<Config Name="1" Description="地物类" Type="Folder">
			<Config Name="Name" Description="地物类名称" Type="String">
				<Value>主干道中心线1</Value>
			</Config>
			<Config Name="LabelFieldName" Description="标注字段" Type="String">
				<Value>MC</Value>
			</Config>
			<Config Name="ClassFieldName" Description="分类字段" Type="String">
				<Value>FHDM</Value>
			</Config>
			<Config Name="Classes" Description="分类" Type="String">
				<Config Name="402" Description="一个分类" Type="String">
					<Config Name="Value" Description="一个分类" Type="String">
						<Value>402</Value>
					</Config>
					<Config Name="Level" Description="一个分类" Type="String">
						<Value>14,16,18,20</Value>
					</Config>
				</Config>
				<Config Name="416" Description="一个分类" Type="String">
					<Config Name="Value" Description="一个分类" Type="String">
						<Value>416</Value>
					</Config>
					<Config Name="Level" Description="一个分类" Type="String">
						<Value>16,18,20</Value>
					</Config>
				</Config>
			</Config>
		</Config>
	</Config>
	<Config Name="DefaultConfig" Description="地物类" Type="Folder">
		<Config Name="LabelFieldName" Description="标注字段" Type="String">
			<Value>MC</Value>
		</Config>
		<Config Name="ClassFieldName" Description="分类字段" Type="String">
			<Value>FHDM</Value>
		</Config>
		<Config Name="DefaultLevels" Description="缺省的级别" Type="String">
			<Value>16,18,20</Value>
		</Config>
		<Config Name="Classes" Description="分类" Type="String">
			<Config Name="402" Description="一个分类" Type="String">
				<Config Name="Value" Description="一个分类" Type="String">
					<Value>402</Value>
				</Config>
				<Config Name="Level" Description="一个分类" Type="String">
					<Value>14,16,18,20</Value>
				</Config>
			</Config>
			<Config Name="416" Description="一个分类" Type="String">
				<Config Name="Value" Description="一个分类" Type="String">
					<Value>416</Value>
				</Config>
				<Config Name="Level" Description="一个分类" Type="String">
					<Value>16,18,20</Value>
				</Config>
			</Config>
		</Config>
	</Config>
</Config>
